@import "./layouts/home.scss";
@import "./components/button.scss";
@import "./components/animation.scss";
@import "./header-footer/header.scss";
@import "./layouts/about.scss";
@import "./layouts/contact.scss";
@import "./layouts/product-list.scss";

body , html{
    background-color: #282828;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 10px;
    // width:calc(100vw - 15px);
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}





