body, html{
    background-color: #282828;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.container{
    display: flex;
    /* animation: fadeIn 2s both;  */
    
}
@media (max-width: 1220px) {
    .container {
      flex-direction: column;} }
.left-side{
    position: relative;
    height: 80vh;
    width: 100vh;
    animation: moveToRight 2s both;
}
.left-container{
    display: flex;
}
.img-1{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.img-2{
    width: 60%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.img-3{
    width: 60%;
    position: absolute;
    top: 50%;
    left: 50%;
}
.right-side{
    position: relative;
    padding: 5rem;
    margin-left: 30px;
    animation: moveToLeft 2s both;
}
h2{
    color: wheat;
    padding: 30px 0px;
}
h1{
    font-size: 40px;
    font-style: italic;
}
p{
    font-style: italic;
}
.cont-btn{
    outline: none;
    background-color: rgb(44, 30, 66);
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    margin: 30px 0px;
    cursor: pointer;
    color: wheat;
}
.sale{
    display: flex;
    justify-content: space-between;
    padding: 10px;
    animation: fadeIn 2s both;
}
@media (max-width: 950px) {
    .sale {
        display: grid;
        grid-template-columns: 1fr 1fr;
        justify-items: center;} }

        @media (max-width: 630px) {
            .sale {
                display: grid;
                grid-template-columns: 1fr ;
                justify-items: center;} }
    
.sale-container{
    background-color: rgb(32, 32, 29);
    display: inline-block;
    width: 300px;
    height: 400px;
    position: relative;
}
.sale-img{
    width: 100%;
}
.sale-h{
    background-color: rgb(14, 32, 92);
    color: wheat;
    position: absolute;
    top: 39%;
    left: 12%;
    padding: 15px;
}
.des{
    padding:40px 40px 20px 40px;
    display: flex;
}
.des-1{
    display: flex;
    flex-direction: column;
}
.des-2{
    display: flex;
    flex-direction: column;
}
span{
    padding: 15px;
}
.des-btn{
    outline: none;
    background-color: rgb(44, 30, 66);
    border: none;
    padding: 10px 72px;
    font-size: 16px;
    cursor: pointer;
    color: wheat;
}

.gallery{
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: [col-1] 1fr [col-2] 1fr [col-3] 1fr [col-4] 1fr [col-5] 1fr [col-6] 1fr [col-7] 1fr [col-8] 1fr [col-9] 1fr [col-10] 1fr [col-11] 1fr [col-12] 1fr [col-end];
    grid-template-rows: 100px 100px 100px 100px 100px 100px 100px;
    grid-gap: 6px;
}
.gallery div {
    border: 4px solid rgba(29, 26, 26, 0.918);
}
.gallery div img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    cursor: pointer;
    webkit-filter: blur(1px); /* Chrome, Safari, Opera */
    filter: blur(1px);
    transition: .5s;
}
.gallery div img:hover{
    webkit-filter: blur(0px); /* Chrome, Safari, Opera */
    filter: blur(0px);
}
.image-1{
    grid-column: 1 / 4;
    grid-row: 1 / 3;
}
.image-2{
    grid-column: 4 / 8;
    grid-row: 1 / 4;
}
.image-3{
    grid-column: 8 / 10;
    grid-row: 1 / 3;
}
.image-4{
    grid-column: 10 / 13;
    grid-row: 1 / 3;
}
.image-5{
    grid-column: 1 / 4;
    grid-row: 3 / 6;
}
.image-6{
    grid-column: 4 / 7;
    grid-row: 4 / 6;
}
.image-7{
    grid-column: 7 / 8;
}
.image-8{
    grid-column: 8 / 11;
    grid-row: 3 / 5;
}
.image-9{
    grid-column: 11 / 13;
    grid-row: 3 / 6;
}
.image-10{
    grid-column: 1/ 3;
    grid-row: 6 / 8;
}
.image-11{
    grid-column: 3 / 6;
    grid-row: 6 / 8;
}
.image-12{
    grid-column: 6 / 7;
    grid-row: 6 / 8;
}
.image-13{
    grid-column: 7 / 11;
    grid-row: 5 / 8;
}
.image-14{
    grid-column: 11 / 13;
    grid-row: 6 / 8;
}
#foot{
    background-color: #191933;

}
.line-1{
    position: relative;
    height: 17vh;
    display: flex;
    justify-content: space-evenly;
    text-align: center;
}
.line-1 p{
    color: wheat;
    font-style: normal;
    cursor: pointer;
    padding: 30px;
}
.lorem-f{
    color: wheat;
    display: flex;
    justify-content: center;
}
.flex-div{
    display: flex;
}
@media (max-width: 1020px) {
    .flex-div {
        flex-direction: column;} }
.div-container{
    width: 70%;
    background-image: url(./gallery-img/13.jpeg);
    background-position: center;
}

.second-div{
    width: 30%;
}
.div-break{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-top: 3rem;
}
.break-1{
    position: relative;
    border: .2px solid;
    width: 45%;
    color: wheat;
}
.break-2{
    position: relative;
    border: .2px solid;
    width: 45%;
    color: wheat;
}
.own-home{
    padding-left: 4rem;
    padding-top: 4rem;
}
.own-home button{
    outline: none;
    background-color: rgb(44, 30, 66);
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    margin: 30px 0px;
    cursor: pointer;
    color: wheat;
}
.logo-div{
    display: flex;
    justify-content:space-around;
    align-items: center;
}
.ft-img-2{
    width: 100px;
    height: 25px;
    cursor: pointer;
}
.ft-img{
    width: 100px;
    cursor: pointer;
}
.realtors-div{
    position: relative;
    top: 15%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.realtor{
    display: flex;
    padding: 10px;
    align-items: center;
}
.profile{
    width: 100px;
    border-radius: 50%;
    cursor: pointer;
}
.name-realtor b{
    font-size: 23px;
    color: wheat;
    padding-left: 10px;
}
.name-realtor p{
    font-size: 13px;
    padding-left: 10px;
}
.second-div{
    background-color: rgb(32, 54, 87);
}


@keyframes fadeIn {
    from {
      opacity: 0; }
    to {
      opacity: 1; } }
    @keyframes moveToRight{
        from { left: -15%;}
        to { left: 0%;}
    }
    @keyframes moveToLeft{
        from { right: -15%;}
        to { right: 0%;}
    }