/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #282828;
}
.header{
    display: flex;
    flex-wrap: wrap; /*ჩამოიტანოს ქვევით კონტენტი რაც არ დაეტევა ეკრანზე*/
    justify-content: space-between;
    align-items: center;
    background-color: #222;
    margin-bottom: 25px;
    animation:fadeIn 1.5s forwards;
    width: 100vw;
    height: 13vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
}
.header ul li a{
    margin: 15px;
    list-style-type: none;
    text-decoration: none;
    color: #b9b9b9;
    cursor: pointer;
    transition: 0.3s;
}
.header ul li{
    list-style-type: none;
}
.header ul li:last-child{
    margin-right: 13px;
}
.header ul li:hover{
    color: whitesmoke;
    text-shadow: 0 0 3px whitesmoke
}
.nav-left{
    display: flex;
}
.nav-right{
    display: flex;
    margin-right: 2%;
}
.logo{
    display: flex;
    align-items: center;
}
#logo{
    width: 65px;
    cursor: pointer;
}
#search-logo{
    height: 19px;
}
#search-box{
    background: rgba(54, 52, 52, 0.281);
    height: 40px;
    padding: 4px;
}
#search-box:hover .search-txt{
    width: 240px;
    padding: 0 6px;
}
.search-btn{
    background: rgba(54, 52, 52, 0.281);
    float: right;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.search-txt{
    border: none;
    background: none;
    outline: none;
    float: left;
    padding: 0;
    color: white;
    font-size: 16px;
    transition: 0.5s;
    line-height: 40px;
    width: 0px;
}
#slider{
    margin-top: 120px;
    position: relative;
    animation: zoomIn 2s .5s backwards;
}
.slider{
    height: 45vh;
}
.slider img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}
.slider-btn{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: transparent;
    border: 1px solid antiquewhite;
    padding: 10px;
    color: white;
    cursor: pointer;
    backdrop-filter: blur(11px);
    transition: 0.5s;
    animation: moveInfadeIn 1s  2s both;
}
.slider-btn:hover{
    backdrop-filter: blur(9px);
    color: white;
    text-shadow: 0 0 5px white;
}
#Suggest-Product{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-bottom: 100px;
    margin-top: 20px;
    cursor: pointer;
    animation: fadeIn 1.5s forwards;
}
.product{
    transition: .5s;
}
.product:hover{
    box-shadow: 5px 5px 5px rgba(32, 32, 32, 0.6);
}
.product img{
    width: 100%;
    height: 245px;
}
.product-des{
    background-color: #051c2559;
    padding: 20px;
}
.buy-input{
    background: transparent;
    outline: none;
    border: 1px solid #313131;
    padding: 10px 15px;
    margin-right: 20px;
}
.buy-input:focus{
    border: 1px solid #000000;
}
button{
    background-color: #084860;
    padding: 10px 25px;
    outline: none;
    border: none;
    cursor: pointer;
    transition: 0.5s;
}
button:hover{
    background-color: #052e3d;
}
#footer{
    background-color: #191919ba;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.footer-logo{
    width: 200px;
}

@keyframes fadeIn{
    from { opacity: 0;};
    to {opacity: 1;}
}
@keyframes zoomIn{
    from {transform: scale(0);}
    to {transform: scale(1);}
}
@keyframes moveInfadeIn{
    0%{top: 55%; opacity: 0;}
    100%{top: 50%; opacity: 1;}
}