.home {
  display: grid;
  grid-template-areas: 'h h h' 'c c c' 'f f f';
  grid-template-rows: auto auto 20vh; }

.content {
  grid-area: c; }

#Suggest-Product {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 1rem;
  padding: 1rem 1rem; }
  @media (max-width: 1190px) {
    #Suggest-Product {
      grid-template-columns: 1fr 1fr 1fr; } }
  @media (max-width: 1090px) {
    #Suggest-Product {
      grid-template-columns: 1fr 1fr; } }
  @media (max-width: 734px) {
    #Suggest-Product {
      grid-template-columns: 1fr; } }

.product {
  transition: .5s;
  height: 100%;
  width: 100%; }

.product:hover {
  box-shadow: 5px 5px 5px rgba(32, 32, 32, 0.6); }

.product img {
  width: 100%;
  height: 24.5rem; }

.product-des {
  background-color: #051c2559;
  padding: 2rem; }

.buy-input {
  background: transparent;
  outline: none;
  border: 1px solid #313131;
  padding: 10px 1.5rem;
  margin-right: 2rem; }

.buy-input:focus {
  border: 1px solid #000000; }

b, p, a {
  font-size: 1.8rem; }

.slider {
  height: 50vh;
  animation: zoomIn 2s .5s backwards; }

.slider .left-slide, .slider .right-slide {
  position: absolute;
  height: 3.3rem;
  width: 3.3rem;
  background-color: #36232324;
  color: #1e030394;
  font-size: 2rem;
  top: 50%;
  cursor: pointer;
  margin-top: -20%;
  text-align: center;
  line-height: 3.3rem;
  transition: all .5s ease; }

.slider .left-slide:hover, .slider .right-slide:hover {
  box-shadow: 0px 0px 7px rgba(0, 0, 0, 0.815);
  background-color: #36232370; }

.slider .left-slide {
  left: 1.5%;
  top: 35.5%;
  margin: 0; }

.slider .right-slide {
  right: 1.5%;
  top: 35.5%;
  margin: 0; }

.slider .slider-items .item img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  height: 50vh; }

.slider .slider-items .item {
  display: none;
  position: relative; }

.slider .slider-items .item .caption {
  width: 100%; }

.slider .slider-items .item.active {
  display: block; }

.slider-btn {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: transparent;
  border: 1px solid antiquewhite;
  padding: 1rem;
  color: white;
  cursor: pointer;
  backdrop-filter: blur(11px);
  transition: 0.5s; }

.slider-btn:hover {
  backdrop-filter: blur(9px);
  color: white;
  text-shadow: 0 0 5px white; }

.btn-animation {
  animation: moveInfadeIn 1s  2s both; }

.container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #313131;
  padding: 6rem 9rem;
  display: none;
  position: fixed;
  z-index: 10; }

#show:checked ~ .container {
  display: block; }

input[type="checkbox"] {
  display: none; }

.container .close-btn {
  position: absolute;
  right: 2rem;
  top: 1.5rem;
  font-size: 1.8rem;
  cursor: pointer; }

.container .text {
  font-size: 3.5rem;
  font-weight: 600;
  text-align: center; }

.container form {
  margin-top: -2rem; }

.data label {
  font-size: 2.3rem; }

.data input {
  background: transparent;
  outline: none;
  border: .1rem solid #000000;
  padding: .1rem 1.5rem;
  margin-right: 2rem; }

.container form .data {
  height: 4.5rem;
  width: 100%;
  margin: 4rem 0; }

form .data input {
  height: 100%;
  width: 100%; }

.header ul li label {
  margin: 1.5rem;
  list-style-type: none;
  text-decoration: none;
  color: #b9b9b9;
  cursor: pointer;
  transition: 0.3s;
  font-size: 1.8rem; }

.backdrop {
  position: fixed;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.212);
  top: 0;
  left: 0;
  z-index: 1; }

.login-btn {
  margin-top: 1.5rem;
  font-size: 2rem; }

button {
  background-color: #084860;
  padding: 10px 25px;
  outline: none;
  border: none;
  cursor: pointer;
  transition: 0.5s; }

button:hover {
  background-color: #052e3d; }

@keyframes fadeIn {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

@keyframes zoomIn {
  from {
    transform: scale(0); }
  to {
    transform: scale(1); } }

@keyframes moveInfadeIn {
  0% {
    top: 55%;
    opacity: 0; }
  100% {
    top: 50%;
    opacity: 1; } }

@keyframes moveToRight {
  from {
    left: -15%; }
  to {
    left: 0%; } }

@keyframes moveToLeft {
  from {
    right: -15%; }
  to {
    right: 0%; } }

@keyframes slideDown {
  form {
    height: 0; }
  to {
    height: 100%; } }

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #222;
  animation: fadeIn 1.5s forwards;
  grid-area: h;
  z-index: 1000000;
  position: relative; }
  @media (max-width: 1015px) {
    .header {
      flex-direction: column; } }

.header ul li a {
  margin: 1.5rem;
  list-style-type: none;
  text-decoration: none;
  color: #b9b9b9;
  cursor: pointer;
  transition: 0.3s; }

.header ul li {
  list-style-type: none; }

.header ul li:hover {
  color: whitesmoke;
  text-shadow: 0 0 3px whitesmoke; }

.nav-left {
  display: flex;
  padding-left: 1.5rem; }
  @media (max-width: 600px) {
    .nav-left {
      visibility: hidden; } }

.nav-left-burger {
  display: flex;
  flex-direction: column;
  align-items: center; }

.nav-left-burger li {
  padding: .5rem; }

@media (max-width: 600px) {
  .nav-center {
    position: relative;
    top: 0%;
    right: 11%; } }

.nav-right {
  display: flex;
  padding-right: 1.5rem; }
  @media (max-width: 600px) {
    .nav-right {
      visibility: hidden; } }

.nav-right-burger {
  display: flex;
  flex-direction: column;
  align-items: center; }

.nav-right-burger li {
  padding: .5rem; }

.logo {
  display: flex;
  align-items: center; }

#logo {
  width: 6rem;
  cursor: pointer; }

#search-logo {
  height: 19px; }

#search-box {
  background: rgba(54, 52, 52, 0.281);
  height: 4rem;
  padding: 0.4rem; }

#search-box:hover .search-txt {
  width: 24rem;
  padding: 0 0.6rem; }

.search-btn {
  background: rgba(54, 52, 52, 0.281);
  float: right;
  width: 4rem;
  height: 4rem;
  display: flex;
  justify-content: center;
  align-items: center; }

.search-txt {
  border: none;
  background: none;
  outline: none;
  float: left;
  padding: 0;
  color: white;
  font-size: 1.6rem;
  transition: 0.5s;
  line-height: 4rem;
  width: 0px; }

#footer {
  background-color: #191919ba;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  grid-area: f; }

.footer-logo {
  width: 13.5rem; }

b, p {
  font-size: 1.6rem; }

.burger-checkbox-label {
  display: inline-block;
  width: 30px;
  height: 30px;
  border: 3px solid #1a1919;
  display: none;
  flex-direction: column;
  justify-content: space-around;
  padding: 8px;
  cursor: pointer; }
  @media (max-width: 600px) {
    .burger-checkbox-label {
      display: flex;
      top: 36%;
      right: 8%;
      position: absolute; } }
  @media (max-width: 477px) {
    .burger-checkbox-label {
      top: 43%;
      right: 8%;
      position: absolute; } }

.burger-checkbox {
  display: none; }

.menu-line {
  border: 2px solid black; }

.responsive-header-dropdown {
  background-color: rgba(48, 54, 59, 0.8); }

.burger-checkbox:checked + div {
  display: flex;
  align-items: center;
  justify-content: space-around; }

.responsive-header-dropdown {
  display: none;
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  transform: translateY(100%);
  animation: slideDown 2s both; }

.about-us {
  display: grid;
  grid-template-areas: 'h h h' 'c c c' 'f f f';
  grid-template-rows: auto auto 20vh; }

#about {
  padding-top: 2rem;
  padding-bottom: 3rem;
  animation: zoomIn 1s backwards; }

.about {
  width: 100vw;
  height: 45vh; }

#about p {
  text-align: center;
  font-size: 25px;
  color: rgba(245, 245, 245, 0.39);
  grid-area: c; }

.about-img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  cursor: pointer;
  webkit-filter: blur(2px);
  /* Chrome, Safari, Opera */
  filter: blur(2px);
  transition: 0.5s; }

.about-img:hover {
  webkit-filter: blur(0px);
  /* Chrome, Safari, Opera */
  filter: blur(0px); }

.contact-us {
  display: grid;
  grid-template-areas: 'h h h' 'c c c' 'f f f';
  grid-template-rows: auto auto 20vh; }

#contact {
  grid-area: c;
  padding-bottom: 2.5rem;
  padding-top: 2.5rem; }

.contact {
  display: flex;
  justify-content: space-evenly;
  align-items: center; }
  @media (max-width: 920px) {
    .contact {
      display: flex;
      flex-direction: column; } }

.contact-info-2 {
  position: relative;
  font-size: 3rem;
  text-align: center;
  color: rgba(250, 235, 215, 0.616);
  cursor: pointer;
  animation: moveToLeft 2s forwards; }

.map {
  position: relative;
  animation: moveToRight 2s forwards; }

.product-page {
  display: grid;
  grid-template-areas: 'h h h' 'c c c' 'f f f';
  grid-template-rows: auto auto 19vh; }

#product-list {
  grid-area: c;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 1rem;
  padding: 1rem 1rem; }

.product-list {
  cursor: pointer;
  transition: .3s;
  margin: .5rem; }

.product-list:hover {
  box-shadow: 0.5rem 0.5rem 0.5rem rgba(32, 32, 32, 0.6); }

.product-list img {
  width: 36.1rem; }

body, html {
  background-color: #282828;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 10px; }

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0; }

/* Firefox */
input[type=number] {
  -moz-appearance: textfield; }
