@keyframes fadeIn{
    from { opacity: 0;};
    to {opacity: 1;}
}
@keyframes zoomIn{
    from {transform: scale(0);}
    to {transform: scale(1);}
}
@keyframes moveInfadeIn{
    0%{top: 55%; opacity: 0;}
    100%{top: 50%; opacity: 1;}
}
@keyframes moveToRight{
    from { left: -15%;}
    to { left: 0%;}
}
@keyframes moveToLeft{
    from { right: -15%;}
    to { right: 0%;}
}
@keyframes slideDown{
    form { height: 0;}
    to {height: 100%;}
}