*{
    background-color: #382a2ae6;
}

.gallery{
    width: 98vw;
    height: 97vh;
    display: grid;
    grid-template-columns: [col-1] 1fr [col-2] 1fr [col-3] 1fr [col-4] 1fr [col-5] 1fr [col-6] 1fr [col-7] 1fr [col-8] 1fr [col-9] 1fr [col-10] 1fr [col-11] 1fr [col-12] 1fr [col-end];
    grid-template-rows: 100px 100px 100px 100px 100px 100px 100px;
    grid-gap: 6px;
}
.gallery div {
    border: 4px solid rgba(29, 26, 26, 0.918);
}
img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    cursor: pointer;
    webkit-filter: blur(1px); /* Chrome, Safari, Opera */
    filter: blur(1px);
    transition: .5s;
}
img:hover{
    webkit-filter: blur(0px); /* Chrome, Safari, Opera */
    filter: blur(0px);
}
.image-1{
    grid-column: 1 / 4;
    grid-row: 1 / 3;
}
.image-2{
    grid-column: 4 / 8;
    grid-row: 1 / 4;
}
.image-3{
    grid-column: 8 / 10;
    grid-row: 1 / 3;
}
.image-4{
    grid-column: 10 / 13;
    grid-row: 1 / 3;
}
.image-5{
    grid-column: 1 / 4;
    grid-row: 3 / 6;
}
.image-6{
    grid-column: 4 / 7;
    grid-row: 4 / 6;
}
.image-7{
    grid-column: 7 / 8;
}
.image-8{
    grid-column: 8 / 11;
    grid-row: 3 / 5;
}
.image-9{
    grid-column: 11 / 13;
    grid-row: 3 / 6;
}
.image-10{
    grid-column: 1/ 3;
    grid-row: 6 / 8;
}
.image-11{
    grid-column: 3 / 6;
    grid-row: 6 / 8;
}
.image-12{
    grid-column: 6 / 7;
    grid-row: 6 / 8;
}
.image-13{
    grid-column: 7 / 11;
    grid-row: 5 / 8;
}
.image-14{
    grid-column: 11 / 13;
    grid-row: 6 / 8;
}




