// @import "../components/animation";
.header{
    display: flex;
    // flex-wrap: wrap; /*ჩამოიტანოს ქვევით კონტენტი რაც არ დაეტევა ეკრანზე*/
    justify-content: space-between;
    align-items: center;
    background-color: #222;
    // margin-bottom: 2.5rem;
    animation:fadeIn 1.5s forwards;
    grid-area: h;
    @media (max-width : 1015px){
        flex-direction: column;
    }
    // position: fixed;
    z-index: 1000000;
    // width: 100%;
    position: relative;
}
.header ul li a{
    margin: 1.5rem;
    list-style-type: none;
    text-decoration: none;
    color: #b9b9b9;
    cursor: pointer;
    transition: 0.3s;
}

.header ul li{
    list-style-type: none;
}
.header ul li:hover{
    color: whitesmoke;
    text-shadow: 0 0 3px whitesmoke
}
.nav-left{
    display: flex;
    padding-left: 1.5rem;
    @media (max-width : 600px){
        visibility: hidden;
    }
}
.nav-left-burger{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.nav-left-burger li{
    padding: .5rem;
}
.nav-center{
    @media (max-width : 600px){
        position: relative;
        top: 0%;
        right: 11%;
    }
}
.nav-right{
    display: flex;
    padding-right: 1.5rem;
    @media (max-width : 600px){
        visibility: hidden;
    }
}
.nav-right-burger{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.nav-right-burger li{
    padding: .5rem;
}
.logo{
    display: flex;
    align-items: center;
}
#logo{
    width: 6rem;
    cursor: pointer;
}
#search-logo{
    height: 19px;
}
#search-box{
    background: rgba(54, 52, 52, 0.281);
    height: 4rem;
    padding: 0.4rem;
}
#search-box:hover .search-txt{
    width: 24rem;
    padding: 0 0.6rem;
}
.search-btn{
    background: rgba(54, 52, 52, 0.281);
    float: right;
    width: 4rem;
    height: 4rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
.search-txt{
    border: none;
    background: none;
    outline: none;
    float: left;
    padding: 0;
    color: white;
    font-size: 1.6rem;
    transition: 0.5s;
    line-height: 4rem;
    width: 0px;
}
#footer{
    background-color: #191919ba;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    grid-area: f;
}
.footer-logo{
    width: 13.5rem;
}
b , p{
    font-size: 1.6rem;
}





.burger-checkbox-label{
    display: inline-block;
    width: 30px;
    height: 30px;
    border: 3px solid rgb(26, 25, 25);
    display: none;
    flex-direction: column;
    justify-content: space-around;
    padding: 8px;
    cursor: pointer;
    @media (max-width : 600px){
        display: flex;
        top: 36%;
        right: 8%;
        position: absolute;
    }
    @media (max-width : 477px){
        top: 43%;
        right: 8%;
        position: absolute;
    }

}
.burger-checkbox{
    display: none;
}
.menu-line{
    border: 2px solid black ;
    
}
.responsive-header-dropdown{
    background-color: rgba(48, 54, 59, 0.8);
}
.burger-checkbox:checked + div {
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.responsive-header-dropdown{
    display: none;
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    transform: translateY(100%);
    animation: slideDown 2s both;
}
