.about-us{
    display: grid;
    grid-template-areas: 'h h h' 'c c c' 'f f f';
    grid-template-rows: auto auto 20vh;
}
#about{
    // grid-area: c;
    // display: flex;
    padding-top: 2rem;
    padding-bottom: 3rem;
    animation: zoomIn 1s backwards;
}
.about{
    width: 100vw;
    height: 45vh;
}
#about p{
    text-align: center;
    font-size: 25px;
    color: rgba(245, 245, 245, 0.39);
    grid-area: c;
}
.about-img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    cursor: pointer;
    webkit-filter: blur(2px); /* Chrome, Safari, Opera */
    filter: blur(2px);
    transition: 0.5s;
}
.about-img:hover{
    webkit-filter: blur(0px); /* Chrome, Safari, Opera */
    filter: blur(0px);
}