.contact-us{
    display: grid;
    grid-template-areas: 'h h h' 'c c c' 'f f f';
    grid-template-rows: auto auto 20vh;
    // position: relative; ანიმაციისთვის მინდოდა 
}
#contact{
    grid-area: c;
    padding-bottom: 2.5rem;
    padding-top: 2.5rem;
    // animation:zoomIn .5s forwards;
}
.contact{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    @media (max-width : 920px ){
        display: flex;
        flex-direction: column;
    }
}
.contact-info-2{
    position: relative;
    font-size: 3rem;
    text-align: center;
    color: rgba(250, 235, 215, 0.616);
    cursor: pointer;
    animation: moveToLeft 2s forwards;
}
.map{
    position: relative;
    animation: moveToRight 2s forwards;
}