.home{
    display: grid;
    grid-template-areas: 'h h h' 'c c c' 'f f f';
    grid-template-rows: auto auto 20vh;
    // @media (max-width : 600px){
    //     grid-template-rows: 15vh auto 20vh;
    // }
}
.content{
    grid-area: c;
}
// #slider{
//     position: relative;
//     animation: zoomIn 2s .5s backwards;
// }
// .slider{
//     height: 45vh;
// }
// .slider img{
//     height: 100%;
//     width: 100%;
//     object-fit: cover;
// }
// .slider-btn{
//     position: absolute;
//     top: 50%;
//     left: 50%;
//     transform: translate(-50%, -50%);
//     background-color: transparent;
//     border: 1px solid antiquewhite;
//     padding: 1rem;
//     color: white;
//     cursor: pointer;
//     backdrop-filter: blur(11px);
//     transition: 0.5s;
//     animation: moveInfadeIn 1s  2s both;
// }
// .slider-btn:hover{
//     backdrop-filter: blur(9px);
//     color: white;
//     text-shadow: 0 0 5px white;
// }
#Suggest-Product{
    // display: flex;
    // justify-content: space-around;
    // flex-wrap: wrap;
    // margin-bottom: 10rem;
    // margin-top: 4rem;
    // cursor: pointer;
    // animation: fadeIn 1.5s forwards;
    // @media (max-width : 1171px){
    //         justify-content: space-evenly;;
    //      }
    // // @media (max-width : 855px){
    // //         flex-direction: column;
    // // }
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 1rem;
    padding: 1rem 1rem;
    @media (max-width : 1190px){
        grid-template-columns: 1fr 1fr 1fr;
    }
    @media (max-width : 1090px){
        grid-template-columns: 1fr 1fr;
    }
    @media (max-width : 734px){
        grid-template-columns: 1fr;
    }
}
.product{
    transition: .5s;
    height: 100%;
    width: 100%;
}
.product:hover{
    box-shadow: 5px 5px 5px rgba(32, 32, 32, 0.6);
}
.product img{
    width: 100%;
    height: 24.5rem;
}
.product-des{
    background-color: #051c2559;
    padding: 2rem;
    // @media (max-width : 734px){
    //     display: flex;
    //     justify-content: space-around;
    // }
}
.buy-input{
    background: transparent;
    outline: none;
    border: 1px solid #313131;
    padding: 10px 1.5rem;
    margin-right: 2rem;
}
.buy-input:focus{
    border: 1px solid #000000;
}
b , p , a {
    font-size: 1.8rem;
}






// #slider{
//     padding-top: 5%;
//     @media (max-width : 600px){
//         padding-top: 44%;
//     }
//     @media (min-width : 600px){
//         padding-top: 30%;
//     }
// }
.slider{
    // max-width: 900px;
    // border: 5px solid rgba(100, 90, 90, 0.616);
    // margin: 50px;
    // position: relative;
    // left: 20%;
    // top: 26%;
    // left: 50%;
    // transform: translate(-50%, -50%);
    // display: flex;
    // align-items: center ;
    height: 50vh;
    animation: zoomIn 2s .5s backwards;
    // padding-top: 1.5%;
    // width:calc(100vw - 15px);
}

.slider .left-slide, .slider .right-slide{
    position: absolute;
    height: 3.3rem;
    width: 3.3rem;
    background-color: #36232324;
    // border-radius: 50%;
    color: #1e030394;
    font-size: 2rem;
    top:50%;
    cursor: pointer;
    margin-top: -20%;
    text-align: center;
    line-height: 3.3rem;
    transition: all .5s ease;
}
.slider .left-slide:hover, .slider .right-slide:hover{
    box-shadow: 0px 0px 7px rgba(0, 0, 0, 0.815);
    background-color: #36232370;
}

.slider .left-slide{
    left: 1.5%;
    top: 35.5%;
    margin: 0;
}
.slider .right-slide{
    right: 1.5%;
    top: 35.5%;
    margin: 0;
}

.slider .slider-items .item img{
    // max-width: 100%;
    // display: block;
    height: 100%;
    width: 100%;
    object-fit: cover;
    height: 50vh;
}
.slider .slider-items .item{
    display: none;
    position: relative;
}
.slider .slider-items .item .caption{
    // position: absolute;
    width: 100%;
    // height: 60px;
    // bottom: 0px;
    // left: 0px;
    // background-color: rgba(0,0,0,.5);
    // text-align: center;
    // line-height: 60px;
    // color: #ffffff;
    // font-size: 30px;
}
.slider .slider-items .item.active{
    display: block;
}
.slider-btn{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: transparent;
    border: 1px solid antiquewhite;
    padding: 1rem;
    color: white;
    cursor: pointer;
    backdrop-filter: blur(11px);
    transition: 0.5s;
    // animation: moveInfadeIn 1s  2s both;
}
.slider-btn:hover{
    backdrop-filter: blur(9px);
    color: white;
    text-shadow: 0 0 5px white;
}
.btn-animation{
    animation: moveInfadeIn 1s  2s both;
}















.container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #313131;
    padding: 6rem 9rem;
    display: none;
    position: fixed;
    z-index: 10;
}
#show:checked ~ .container{
    display: block;
}
input[type="checkbox"]{
    display: none;
}
.container .close-btn{
    position: absolute;
    right: 2rem;
    top: 1.5rem;
    font-size: 1.8rem;
    cursor: pointer;
}
.container .text {
    font-size: 3.5rem;
    font-weight: 600;
    text-align: center;
}
.container form{
    margin-top: -2rem;
}
.data label {
    font-size: 2.3rem;
}
.data input{
    background: transparent;
    outline: none;
    border: .1rem solid #000000;
    padding: .1rem 1.5rem;
    margin-right: 2rem;
}
.container form .data {
    height: 4.5rem;
    width: 100%;
    margin: 4rem 0;
}
form .data input {
    height: 100%;
    width: 100%;
}
.header ul li label {
    margin: 1.5rem;
    list-style-type: none;
    text-decoration: none;
    color: #b9b9b9;
    cursor: pointer;
    transition: 0.3s;
    font-size: 1.8rem;
}
.backdrop{
    position: fixed;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.212);
    top: 0;
    left: 0;
    z-index: 1;
}
.login-btn{
    margin-top: 1.5rem;
    font-size: 2rem;
    // background-color: #0a303e;
}

