.product-page{
    display: grid;
    grid-template-areas: 'h h h' 'c c c' 'f f f';
    grid-template-rows: auto auto 19vh;
}
#product-list{
    // display: flex;
    // flex-wrap: wrap;
    // padding-bottom: 10px;
    // justify-content:space-around;
    grid-area: c;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 1rem;
    padding: 1rem 1rem;
}
.product-list{
    cursor: pointer;
    transition: .3s;
    margin: .5rem;
}
.product-list:hover{
    box-shadow: .5rem .5rem .5rem rgba(32, 32, 32, 0.6);
}
.product-list img{
    width: 36.1rem;
}