/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #282828;
}
.header{
    display: flex;
    flex-wrap: wrap; /*ჩამოიტანოს ქვევით კონტენტი რაც არ დაეტევა ეკრანზე*/
    justify-content: space-between;
    align-items: center;
    background-color: #222;
    margin-bottom: 25px;
    animation:fadeIn 1.5s forwards;
    width: 100vw;
    height: 13vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
}
.header ul li a{
    margin: 15px;
    list-style-type: none;
    text-decoration: none;
    color: #b9b9b9;
    cursor: pointer;
    transition: 0.3s;
}
.header ul li{
    list-style-type: none;
}
.header ul li:last-child{
    margin-right: 13px;
}
.header ul li:hover{
    color: whitesmoke;
    text-shadow: 0 0 3px whitesmoke
}
.nav-left{
    display: flex;
}
.nav-right{
    display: flex;
    margin-right: 2%;
}
.logo{
    display: flex;
    align-items: center;
}
#logo{
    width: 62px;
    cursor: pointer;
}
#search-logo{
    height: 19px;
}
#search-box{
    background: rgba(54, 52, 52, 0.281);
    height: 40px;
    padding: 4px;
}
#search-box:hover .search-txt{
    width: 240px;
    padding: 0 6px;
}
.search-btn{
    background: rgba(54, 52, 52, 0.281);
    float: right;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.search-txt{
    border: none;
    background: none;
    outline: none;
    float: left;
    padding: 0;
    color: white;
    font-size: 16px;
    transition: 0.5s;
    line-height: 40px;
    width: 0px;
}

button{
    background-color: #084860;
    padding: 10px 25px;
    outline: none;
    border: none;
    cursor: pointer;
    transition: 0.5s;
}
button:hover{
    background-color: #052e3d;
}
#footer{
    background-color: #191919ba;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.footer-logo{
    width: 200px;
}

@keyframes fadeIn{
    from { opacity: 0;};
    to {opacity: 1;}
}
@keyframes zoomIn{
    from {transform: scale(0);}
    to {transform: scale(1);}
}
@keyframes moveInfadeIn{
    0%{top: 55%; opacity: 0;}
    100%{top: 50%; opacity: 1;}
}